apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexus-adm-webapp

resources:
- configmap.yaml
- deployment.yaml
- ingress.yaml
- namespace.yaml
- secret.yaml
- service.yaml
- hpa.yaml