apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexus-adm-api

resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- hpa.yaml
- namespace.yaml
- secret.yaml
- mysql.yaml
- mysql-service.yaml
- pvc.yaml
- stripe-configmap.yaml

# Generate ConfigMap for non-sensitive data
configMapGenerator:
- literals:
  - NEXUS_CEP_URL=http://nexus-cep-service.nexus-cep.svc.cluster.local:80
  - SMTP_HOST=smtp.email.sa-saopaulo-1.oci.oraclecloud.com
  - SMTP_PORT="587"
  - EMAILS_FROM_EMAIL=noreply@nexusplatform.com.br
  - EMAILS_FROM_NAME="Nexus Platform"
  - CORS_ORIGINS="http://localhost:5173,https://admin.nexusplatform.com.br,https://console.nexusplatform.com.br"
  name: nexus-adm-api-config

# Generate Secret for sensitive data (Placeholders for Base)
secretGenerator:
- literals:
  - NEXUS_CEP_TOKEN=change_this_to_a_secure_token
  - SMTP_USER=change_me
  - SMTP_PASSWORD=change_me
  - STRIPE_API_KEY=change_me
  - STRIPE_WEBHOOK_SECRET=change_me
  name: nexus-adm-api-secrets

