---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nexus-webapp-nginx-conf
data:
  default.conf: |
    server {  
        listen       80;
        server_name  localhost;

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
            # Se o arquivo/diretório não for encontrado, sirva o index.html
            try_files $uri $uri/ /index.html;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
